body {
    background: #cdbdad;
    color: #000000;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

#socials {
    width: 320px;
    padding: 10px 10px 20px 10px;
    background-color: white;
    border: 1px solid #BFBFBF;
    margin: 20px;
}

#socials:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.social-section {
    grid-area: sArea;
}

.grid-container {
    display: grid;
    grid-template: auto / auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.social {
    grid-area: myArea;
}

.grid-container-home {
    display: grid;
    grid-template-areas: '. .'
        'myArea myArea';
    grid-gap: 10px;
    padding: 10px;
}

.caption {
    text-align: center;
    padding: 10px 20px;
}

.bg-steel {
    background-color: #c4836a;
}

.site-header .navbar-nav .nav-link {
    color: #000000;
}

.site-header .navbar-nav .nav-link:hover {
    color: #e4e2e6;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #f1ead7;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 10px;
}

.article-title {
    color: #000000;
}

a.article-title:hover {
    color: #c4836a;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #f5f5f5
}

.article-metadata a:hover {
    color: #5b4f45;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}
.btn-outline-info {
    color: #5b4f45;
    border-color: #5b4f45;
}
.btn:hover {
   background-color: #c4836a; 
    border-color: #5b4f45;
}
img {
    border-radius: 100%;
}
a{
    color: #5b4f45;
    text-decoration: none;
}

a:visited {
    color: #5b4f45;
    text-decoration: none;
}

