{% extends "layout.html" %}
{% block content %} 
<title> Squirrels Found </title>
<h2>{{ subtitle }}</h2>
<p>{{ text }}</p>

<section class='line'>
    <div>
        <form method="post">
            {% for item in data %}
                <input type="checkbox" name="squirrel" id="{{ item }}" value ="{{ item }}" > 
                <label for="{{ item }}"> {{ stringme(item) }}</label><br>
            {% endfor %}
            <input type="submit">
            </form>

    </div>
</section>

{% endblock content %}